<header id="header">
  <div class="container">
    <nav>
      {% for link in linklists.header.links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <a class="hover:text-brand {% if link.current %}text-brand border-b border-brand{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
          [{% for childlink in linklists[child_list_handle].links %}
            <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
          {% endfor %}]
        {% else %}
          <a class="hover:text-brand {% if link.current %}text-brand border-b border-brand{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "class": "sticky top-0 z-50",
    "settings": [
      {
        "type":   "link_list",
        "id":     "main_menu",
        "label":  "Main Menu"
      },
      {
        "type": "checkbox",
        "id": "sticky_header",
        "label": "Sticky Announce",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_newsletter",
        "label": "Enable Newsletter",
        "default": true
      },
      {
        "type": "text",
        "id": "popup_delay",
        "label": "Popup Delay",
        "default": "2000"
      },
      {
        "type": "text",
        "id": "popup_title",
        "label": "Pop Up Title",
        "default": "Take 15% off"
      },
      {
        "type": "textarea",
        "id": "popup_desc",
        "label": "Pop Up Desc",
        "default": "First-time customers, use <br>coupon code 'herauxskin15'"
      }
    ]
  }
{% endschema %}