{% if section.settings.show_ann %}
  <div class="py-4 border-b border-gray-100">
    <div class="container">
      <div class="text-xs">
        {{ section.settings.announce }}
      </div>
    </div>
  </div>
{% endif %}
<header id="header" class="py-4 border-b border-gray-100">
  <div class="container flex items-center justify-between">
    <h1><a href="{{ shop.url }}">{{ shop.name }}</a></h1>
    <nav class="space-x-4">
      {% for link in linklists[section.settings.main_menu].links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <a class="hover:text-brand {% if link.current %}text-brand border-b border-brand{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
          [{% for childlink in linklists[child_list_handle].links %}
            <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
          {% endfor %}]
        {% else %}
          <a class="hover:text-brand {% if link.current %}text-brand border-b border-brand{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "class": "relative",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "link_list",
        "id": "main_menu",
        "label": "Main Menu"
      },
      {
        "type": "header",
        "content": "Announcement Bar"
      },
      {
        "type": "checkbox",
        "id": "show_ann",
        "label": "Show Announcement Bar",
        "default": true
      },
      {
        "type": "text",
        "id": "announce",
        "label": "Announce Text",
        "default": "Free shipping on orders over $200"
      }
    ]
  }
{% endschema %}